.landing-header {
  padding-top: 20px;

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 45px;
    padding-top: 0.5em;

    .image-wrapper {
      width: 8.375rem;
      height: 2.25rem;

      img {
        width: 100%;
      }
    }
  }
}

.landing-title {
  font-size: 3.125rem;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}

.landing-card {
  position: relative;
  border-bottom: 8px solid #222;
  margin-bottom: 0;
  background: 0 0;
  color: #fff;
  padding: 70px 45px;
}

.landing-card-text {
  font-size: 1.625rem;
}

@media only screen and (min-width: 550px) and (max-width: 949px) {
  .landing-header {
    .header-wrapper {
      .image-wrapper {
        width: 6.75rem;
        height: 2rem;
      }
    }
  }
}
