.feature-card-container {
  display: flex;
  align-items: center;

  .padding-right {
    padding-right: 3rem;
  }

  .feature-text {
    width: 52%;
    height: 100%;
    flex: 0 1 auto;
    z-index: 3;

    h1 {
      font-size: 3.125rem;
      line-height: 1.1;
      margin-bottom: 0.5rem;
    }

    h2 {
      font-size: 1.625rem;
      font-weight: 400;
    }
  }

  .feature-img-container {
    width: 48%;
    height: 100%;

    img {
      width: 100%;
    }
  }

  .feature-animation-container {
    margin: -10% -5% -5% 0;
  }
}
